.modalTimeLime{
	position: fixed;
	background:black;
	z-index: 100000000000000000;
	width: 100%;
	height: 100%;
	top:0;
	display: none;
	/*opacity: .6;*/
}
		.modalTimeLime .closeMensaje{
			
			height: 50px;
			/*border:1px solid white;*/
			width: 90%;
			margin:0 auto;
			/*margin-top:30px;*/
			/*background:white;*/
			

		}
		.modalTimeLime  .closeMensaje .cerrar{
			border:1px solid #ddd;
			height:50px;
			position: relative;
			right: 0; 
			float: right;
			width: 50px;
			text-align:center;
			line-height: 50px;
			cursor:pointer;
			
			background:white;
			top:90px;
			
		}	
		.modalTimeLime .contenedorModal .closeMensaje .cerrar:hover{
			background:#ddd;
			color:white;
		}		
	.modalTimeLime .contenedorModal{
		background:white;
		/*height:90%;*/
		width: 90%;
		border:1px solid #aaa;
		
		opacity: 1;
		
		margin:0 auto;
		margin-top:40px;
		display: flex;
		
	}


		.modalTimeLime .contenedorModal .imgModal{
			border:1px solid red;
			flex:2 1 auto;
			

		}
		.modalTimeLime .contenedorModal .cajaComenetarioModal{
			border:1px solid #ddd;
			flex:1 1 auto;
/*			overflow-y:scroll;
			display: flex;*/
			/*flex-flow:row wrap;*/
		}
			.modalTimeLime .contenedorModal .cajaComenetarioModal div.d1{
			/*width: 100%;*/
			height: 200px;
			border:1px solid black;
			flex:1 1 auto;
		}



/*AQUI COMIENZA EL CODIGO DEL SLIDER*/
.slideshow-container {

  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: block;
  width:100%;
  border:1px solid #ddd;
  background-attachment: fixed;
  background-repeat:no-repeat;
  z-index: 1000000;
  height:400px; 
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*AQUI TERMINA EL CODIGO DEL SLIDER*/




























		@media screen and (max-width: 768px) {

				.modalTimeLime .contenedorModal{
					flex-flow:column wrap;
					overflow-y:scroll;
				}
				.modalTimeLime .contenedorModal .cajaComenetarioModal{
					overflow: visible;
					flex:2 1 auto;
				}
				}		